@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>under construction... II</p>
</div>

<form method="post">
	<div>
		<label for="InputText">Input:</label>
		<input type="text" id="InputText" name="InputText" value="@Model.InputText" />
	</div>
	<div>
		<label for="OutputText">Output:</label>
		<input type="text" id="OutputText" name="OutputText" value="@Model.OutputText" readonly />
	</div>
	<div>
		<button type="submit">Process</button>
	</div>
</form>