@inherits LayoutComponentBase

<div class="main-layout">
	<main>
		@Body
	</main>
</div>

<style>
    .main-layout {
        font-family: Arial, sans-serif;
    }
    main {
        background-color: #ffffaa;
        padding: 1rem;
    }
</style>