@using System.Collections.Generic

<div style="border: 1px solid #ccc; padding: 10px; height: 100%; overflow-y: auto;">
	<ul style="list-style-type: none; padding: 0; margin: 0;">
		@foreach (var message in Messages)
		{
			<li>@message</li>
		}
	</ul>
</div>

@code {
	[Parameter]
	public List<string> Messages { get; set; } = new();
}