.chat-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: aqua
}

.message-list {
    background-color: gray;
    padding: 20px;
    overflow-y: scroll;
    width: 200px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    height: calc(100vh - 95px);
}

.message-item {
    display: block;
    width: 100%;
    color: var(--default-text-color);
    margin-bottom: 5px;
    text-align: left;
}

.main-area {
    flex: 1; /* Take up remaining space */
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 10px;
    background-color:blueviolet;
}

.input-area {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    position: relative;
    flex-shrink: 0; /* Fixed height for input area */
}

    .input-area input {
        width: 100%; /* Set the desired width */
    }

    .status-info {
        /* position: static;  Entferne absolute Positionierung */
        flex: none; /* Verhindere, dass sie sich ausdehnen */
        position: relative;  
   
        background-color: #ffffff; /* Optional: Add a background color for better visibility */
        padding: 5px 10px; /* Optional: Add padding for better spacing */
        border: 1px solid #ddd; /* Optional: Add a border for better visibility */
        border-radius: 5px; /* Optional: Add rounded corners */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    }


.processing-lamp {
    margin-left:5px;
    width: 12px;
    height: 12px;
    border-radius: 50%; /* Makes it a circle */
    display: inline-block;
}

.mycontainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    position: relative;
    flex: 1;
    overflow: auto;
}

.mycontent {
    flex: 1;
    display: flex;
}

.mycolumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.myfixed-width {
    flex:none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    width: 200px;
}

.mycolumn-header {
    height: 50px;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}


.special-textarea {
    font-size: 1.2em; /* Larger font size */
    background-color: #d3d3d3; /* Gray background */
    color: var(--text-area-text-color); /* Optional: Set text color to black for better contrast */
    border: 1px solid #ccc; /* Optional: Add a border */
    padding: 10px; /* Optional: Add padding for better readability */
    resize: none; /* Optional: Disable resizing */
}