@page "/log"

<PageTitle>Log</PageTitle>

<div class="chat-container">
	<div class="main-area">
		<div class="content-area">
			<div>
				<h3>Log</h3>
				<textarea readonly>@_logContent</textarea>
			</div>
		</div>
	</div>
</div>

@inject LogVm ViewModel

@code {
	private string _logContent = string.Empty;

	protected override void OnInitialized()
	{
		_logContent = ViewModel.GetLog();
	}

}